body,
html {
    height: 100%;
}

.bg {
    background-image: url("../img/hero-image.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .navbar-brand {
    font-family: "Cedarville Cursive", cursive;
} */
